In [4]:
import pandas as pd
from eagle_eye.crawling.archive.calculate_score_old import calculate_score

In [31]:
food = ["이탈리아음식", "한식", "피자", "양식", "베트남음식", "돈가스", "멕시코,남미음식", "햄버거", "육류,고기요리", "소고기구이", "일식당", "돼지고기구이", "브런치", "일본식라면", "아이스크림",
        "초밥,롤", "과일", "마사지, 지압", "아시아음식", "태국음식", "중식당", "백반,가정식", "퓨전음식", "닭발", "양꼬치", "닭갈비", "곱창,막창,양", "다이어트,샐러드", "국수", "라면", "일식튀김,꼬치", "종합분식"]

alcohol = ["술집", "이자카야", "바(BAR)", "맥주,호프", "주류", "요리주점", "와인", "포장마차"]

cafe = ["카페", "카페,디저트", "와플", "도넛", "베이커리"]

playing = ["공방", "방탈출카페", "힐링카페", "사격장", "테마카페", "테마파크", "아쿠아리움",  "당구장", "주류제조", "꽃집,꽃배달", "볼링장", "애견카페", "사진,스튜디오",
           "고양이카페", "오락실", "낚시터", "스포츠,오락", "셀프,대여스튜디오", "찜질방", "서바이벌게임", "만화방", "갤러리,화랑", "유리공예", "공연,연극시설", "운세,사주", "한복대여", "경영컨설팅"]

place_lend = ["장소대여", "임대,대여"]

care = ["힐링카페", "발관리", "치과", "미용"]

movie = ["영화관", "DVD방"]

else_list = ["광고,마케팅", "화장품,향수", "피부,체형관리", "속옷", "공연장", ""]

category_list = [food, alcohol, cafe, playing,
                 place_lend, care, movie, else_list]

In [32]:
try:
    datepop_data = pd.read_csv(
        "data/datepop/shop_seoul_crawled.csv", header=0, encoding='cp949')
    datepop_data.reset_index(drop=True, inplace=True)
except Exception as e:
    print("파일 불러오기 실패:", e)

In [8]:
# NaN 값을 0으로 채울 컬럼들
columns_to_zero = ['instagram_post', 'instagram_follower',
                   'visitor_review_count', 'blog_review_count', 'distance_from_subway']
# NaN 값을 False로 채울 컬럼들
columns_to_false = ['on_tv', 'seoul_michelin', 'on_blue_ribbon', "no_kids",
                    "parking_available", "hot_spot", "age-2030", "gender-balance", "new_store"]

# NaN 값이 있는 경우 해당 값으로 채워넣기
for column in columns_to_zero:
    datepop_data[column].fillna("0", inplace=True)

for column in columns_to_false:
    datepop_data[column].fillna(False, inplace=True)

In [9]:
datepop_data.columns

Index(['Unnamed: 0', 'store_id', 'name', 'category', 'is_food', 'new_store',
       'instagram_link', 'instagram_post', 'instagram_follower', 'hot_spot',
       'visitor_review_count', 'blog_review_count', 'distance_from_subway',
       'on_tv', 'parking_available', 'no_kids', 'pet_available',
       'seoul_michelin', 'age-2030', 'gender-balance', 'on_blue_ribbon',
       'image_urls', 'address', 'phone', 'gps'],
      dtype='object')

In [7]:
category_data = {
    "food": [],
    "alcohol": [],
    "cafe": [],
    "plyaing": [],
    "place_lend": [],
    "care": [],
    "movie": [],
    "else": [],
}

def categorize(row, category_list):
    if row['category'] in category_list:
        return True
    else:
        return False

category_data['food'] = datepop_data[datepop_data.apply(categorize, category_list=food, axis=1)]
category_data['alcohol'] = datepop_data[datepop_data.apply(categorize, category_list=alcohol, axis=1)]
category_data['cafe'] = datepop_data[datepop_data.apply(categorize, category_list=cafe, axis=1)]
category_data['playing'] = datepop_data[datepop_data.apply(categorize, category_list=playing, axis=1)]
category_data['place_lend'] = datepop_data[datepop_data.apply(categorize, category_list=place_lend, axis=1)]
category_data['care'] = datepop_data[datepop_data.apply(categorize, category_list=care, axis=1)]
category_data['movie'] = datepop_data[datepop_data.apply(categorize, category_list=movie, axis=1)]
category_data['else'] = datepop_data[datepop_data.apply(categorize, category_list=else_list, axis=1)]

### Food

In [8]:
food = category_data["food"]
food.reset_index(drop=True, inplace=True)

In [9]:
store_scores = pd.DataFrame(columns=["Naver ID", "Name", "Score"])

for index, item in food.iterrows():
    score = calculate_score(item)
    print(f"ID: {item["store_id"]} 매장 이름: {item["name"]} 매장 점수: {score}")

    print("="*50)
    result = pd.DataFrame({"Naver ID": [item["store_id"]], "Name": [item["name"]], "Score": [score]})
    store_scores = pd.concat([store_scores, result], ignore_index=True)

ID: 36339304 매장 이름: 비스트로누 매장 점수: 17
==================================================
ID: 37430272 매장 이름: 리틀파파포 연남점 매장 점수: 28
==================================================
ID: 13587483 매장 이름: 십원집 매장 점수: 14
==================================================
ID: 36342218 매장 이름: 문숙이미나리식당 매장 점수: 27
==================================================
ID: 784977997 매장 이름: 제이네 매장 점수: 17
==================================================
ID: 1667048504 매장 이름: 쁘띠문래 매장 점수: 10
==================================================
ID: 19889939 매장 이름: 엔버거 매장 점수: 8
==================================================
ID: 1074002248 매장 이름: 구구당 매장 점수: 25
==================================================
ID: 1178829266 매장 이름: 쏭타이치앙마이 신용산본점 매장 점수: 27
==================================================
ID: 1017625819 매장 이름: 허씨 정통중경마라샹궈 3호점 매장 점수: 6
==================================================
ID: 1305290629 매장 이름: 빠레뜨한남 강남CGV점 매장 점수: 26
==================================================
ID: 18347678 매장 이름: 소고산제일루 매장 점수: 15
==================================================
ID: 1604498621 매장 이름: 재팔이네닭발 대학로점 매장 점수: 9
==================================================
ID: 1879815027 매장 이름: 포미가 매장 점수: 11
==================================================
ID: 1124250158 매장 이름: 피자시즌 매장 점수: 14
==================================================
ID: 1024507268 매장 이름: 카페올리 매장 점수: 16
==================================================
ID: 1805562801 매장 이름: 감탄성신 매장 점수: 19
==================================================
ID: 1685805793 매장 이름: 미쁘동 매장 점수: 29
==================================================
ID: 1653433739 매장 이름: 상무초밥 강남역점 매장 점수: 18
==================================================
ID: 1618302104 매장 이름: 온센 광화문점 매장 점수: 15
==================================================
ID: 1075513586 매장 이름: 세모담 매장 점수: 13
==================================================
ID: 1959742624 매장 이름: 정숙성 매장 점수: 19
==================================================
ID: 392753804 매장 이름: 피자컴퍼니 이태원 매장 점수: 21
==================================================
ID: 1873955788 매장 이름: 스시노칸도 홍대점 매장 점수: 21
==================================================
ID: 1619683915 매장 이름: 샐그릭 매장 점수: 11
==================================================
ID: 1312851479 매장 이름: 칙바이칙 강남역점 매장 점수: 28
==================================================
ID: 36703963 매장 이름: 본가스시 현대백화점천호점 매장 점수: 6
==================================================
ID: 36705768 매장 이름: 본가스시 현대백화점신촌점 매장 점수: 6
==================================================
ID: 1740824640 매장 이름: 살팀보카 매장 점수: 8
==================================================
ID: 1173195149 매장 이름: 돈카와치 성신여대역점 매장 점수: 21
==================================================
ID: 1373989551 매장 이름: 세광양대창 논현점 매장 점수: 16
==================================================
ID: 1906738323 매장 이름: 교대이층집 시청점 매장 점수: 19
==================================================
ID: 1273062221 매장 이름: 교대이층집 상암점 매장 점수: 18
==================================================
ID: 1352354165 매장 이름: 빠네돌체 매장 점수: 8
==================================================
ID: 1551717961 매장 이름: 공샤브 매장 점수: 11
==================================================
ID: 1191441242 매장 이름: 애월연어 연남점 매장 점수: 20
==================================================
ID: 658897525 매장 이름: 마사 타코 매장 점수: 23
==================================================
ID: 1610247722 매장 이름: 라면편의점 매장 점수: 3
==================================================
ID: 1261546000 매장 이름: 칙바이칙 학동역점 매장 점수: 16
==================================================
ID: 1080492815 매장 이름: 화씨이육공 사당점 매장 점수: 16
==================================================
ID: 1541120515 매장 이름: 오오도리 ODORI 매장 점수: 11
==================================================
ID: 1179666839 매장 이름: 오스틴타코 낙성대본점 매장 점수: 6
==================================================
ID: 594661160 매장 이름: 제일제면소 N서울타워점 매장 점수: 8
==================================================
ID: 1465309007 매장 이름: 청담나인 매장 점수: 18
==================================================
ID: 1726937934 매장 이름: 오츠마미 매장 점수: 4
==================================================
ID: 1444299382 매장 이름: 성수로운 매장 점수: 24
==================================================
ID: 1246915366 매장 이름: 미나리삼겹살 본점 매장 점수: 3
==================================================
ID: 1416420416 매장 이름: 고우성수 매장 점수: 16
==================================================
ID: 1388682402 매장 이름: 사유의서재 남산 매장 점수: 26
==================================================
ID: 1966370442 매장 이름: 팔각도 연신내역점 매장 점수: 23
==================================================
ID: 1647273904 매장 이름: 털보네쪽갈비 매장 점수: 3
==================================================
ID: 1001892852 매장 이름: 은행골 여의도점 매장 점수: 9
==================================================
ID: 1320893582 매장 이름: 한술식당 신촌점 매장 점수: 14
==================================================
ID: 1242070068 매장 이름: 백식당 매장 점수: 16
==================================================
ID: 1637809662 매장 이름: 23플래터 매장 점수: 17
==================================================
ID: 1485534307 매장 이름: 에드엣 가로수길 매장 점수: 15
==================================================
ID: 1010633726 매장 이름: 오르페우스 매장 점수: 6
==================================================
ID: 1878060311 매장 이름: 조르노에노떼 매장 점수: 10
==================================================
ID: 1116733594 매장 이름: 광화문특고기 정동집 매장 점수: 11
==================================================
ID: 1124871955 매장 이름: 스시도손 매장 점수: 11
==================================================
ID: 1873388687 매장 이름: 타겟 매장 점수: 13
==================================================
ID: 1045459528 매장 이름: 제일곱창 방이직영점 매장 점수: 10
==================================================
ID: 38591668 매장 이름: 스시쟁이 매장 점수: 21
==================================================
ID: 1400338596 매장 이름: 꼬치의품격 천호로데오점 매장 점수: 5
==================================================
ID: 1059781158 매장 이름: 신사890 매장 점수: 22
==================================================
ID: 1918024294 매장 이름: 아티산와규 남가좌가재울점 매장 점수: 8
==================================================
ID: 1545869125 매장 이름: 쿠치나디까사 문정점 매장 점수: 11
==================================================
ID: 1840264658 매장 이름: 생육회관 매장 점수: 6
==================================================
ID: 1076426838 매장 이름: 초이다이닝 성수점 매장 점수: 16
==================================================
ID: 1106713288 매장 이름: 리파인 가로수길점 매장 점수: 16
==================================================
ID: 1076285144 매장 이름: 호랑도 매장 점수: 8
==================================================
ID: 236366466 매장 이름: 광화문특고기 매장 점수: 15
==================================================
ID: 1608815184 매장 이름: 정동집 매장 점수: 5
==================================================
ID: 1270466702 매장 이름: 타코라붐 매장 점수: 3
==================================================
ID: 1706303662 매장 이름: 나이트캡 매장 점수: 7
==================================================
ID: 1814925919 매장 이름: 로니스피자 매장 점수: 3
==================================================
ID: 1110178448 매장 이름: 신사꽃게당 압구정로데오점 매장 점수: 12
==================================================
ID: 1357260782 매장 이름: 퍼퓰러 매장 점수: 5
==================================================
ID: 1035016347 매장 이름: 피맥하우스 매장 점수: 5
==================================================
ID: 1166770410 매장 이름: 킹덤분식 홍대점 매장 점수: 16
==================================================
ID: 1728958910 매장 이름: 서양라멘 매장 점수: 3
==================================================
ID: 1718185057 매장 이름: 클럽용두 매장 점수: 5
==================================================
ID: 1077748184 매장 이름: 카밀드 매장 점수: 11
==================================================
ID: 1056038050 매장 이름: 구슬구슬 압구정점 매장 점수: 11
==================================================
ID: 1255960333 매장 이름: 운남양꼬치 홍대본점 매장 점수: 4
==================================================
ID: 1458485135 매장 이름: 토요 커리 논현점 매장 점수: 8
==================================================
ID: 1801682167 매장 이름: 데니스타코 성수점 매장 점수: 18
==================================================
ID: 1073506193 매장 이름: 카츠토랑 연남본점 매장 점수: 14
==================================================

In [10]:
store_scores

      Naver ID        Name Score
0     36339304       비스트로누    17
1     37430272   리틀파파포 연남점    28
2     13587483         십원집    14
3     36342218    문숙이미나리식당    27
4    784977997         제이네    17
..         ...         ...   ...
83  1056038050   구슬구슬 압구정점    11
84  1255960333  운남양꼬치 홍대본점     4
85  1458485135   토요 커리 논현점     8
86  1801682167   데니스타코 성수점    18
87  1073506193   카츠토랑 연남본점    14

[88 rows x 3 columns]

In [11]:
store_scores = store_scores.sort_values(by="Score", ascending=False, ignore_index=True).head(20)
store_scores

      Naver ID           Name Score
0   1685805793            미쁘동    29
1     37430272      리틀파파포 연남점    28
2   1312851479      칙바이칙 강남역점    28
3     36342218       문숙이미나리식당    27
4   1178829266  쏭타이치앙마이 신용산본점    27
5   1388682402       사유의서재 남산    26
6   1305290629   빠레뜨한남 강남CGV점    26
7   1074002248            구구당    25
8   1444299382           성수로운    24
9    658897525          마사 타코    23
10  1966370442      팔각도 연신내역점    23
11  1059781158          신사890    22
12  1173195149    돈카와치 성신여대역점    21
13   392753804      피자컴퍼니 이태원    21
14  1873955788      스시노칸도 홍대점    21
15    38591668           스시쟁이    21
16  1191441242       애월연어 연남점    20
17  1805562801           감탄성신    19
18  1959742624            정숙성    19
19  1906738323      교대이층집 시청점    19

In [12]:
store_scores.to_csv('data/datepop/shop_score.csv', encoding='utf-8-sig')

### 종합

In [13]:
datepop_data.reset_index(drop=True, inplace=True)

In [14]:
store_scores = pd.DataFrame(columns=["Naver ID", "Name", "Score"])

for index, item in datepop_data.iterrows():
    score = calculate_score(item)
    print(f"ID: {item["store_id"]} 매장 이름: {item["name"]} 매장 점수: {score}")

    print("="*50)
    result = pd.DataFrame({"Naver ID": [item["store_id"]], "Name": [item["name"]], "Score": [score]})
    store_scores = pd.concat([store_scores, result], ignore_index=True)

ID: 1560103206 매장 이름: 동백꽃공방 매장 점수: 16
==================================================
ID: 37663526 매장 이름: 비트포비아 대학로 매장 점수: 21
==================================================
ID: 35949552 매장 이름: 반지대학 강남캠퍼스 매장 점수: 9
==================================================
ID: 37336820 매장 이름: 미스터힐링 신촌점 매장 점수: 9
==================================================
ID: 37015113 매장 이름: 남대문실탄사격장 매장 점수: 11
==================================================
ID: 36476159 매장 이름: 카페테라피 대학로점 매장 점수: 20
==================================================
ID: 38299605 매장 이름: ESC방탈출카페 홍대점 매장 점수: 6
==================================================
ID: 36631598 매장 이름: 다이나믹메이즈 인사동 매장 점수: 21
==================================================
ID: 13475855 매장 이름: 아쿠아플라넷 63 매장 점수: 18
==================================================
ID: 37408740 매장 이름: 큐브이스케이프 홍대점 매장 점수: 14
==================================================
ID: 33874345 매장 이름: 루소주얼리 홍대점 매장 점수: 26
==================================================
ID: 36339304 매장 이름: 비스트로누 매장 점수: 17
==================================================
ID: 33040101 매장 이름: 반지만들기카페 건대점 매장 점수: 16
==================================================
ID: 778564823 매장 이름: 제나일 매장 점수: 8
==================================================
ID: 682304977 매장 이름: 루소주얼리 건대점 매장 점수: 9
==================================================
ID: 567710893 매장 이름: 락큐 포켓볼 클럽 매장 점수: 8
==================================================
ID: 780391941 매장 이름: 아이홉 맥주공방 매장 점수: 5
==================================================
ID: 37558893 매장 이름: 쉼스토리 매장 점수: 6
==================================================
ID: 933479059 매장 이름: 미스터힐링 종각역점 매장 점수: 8
==================================================
ID: 897545921 매장 이름: 또와또 낚시카페 매장 점수: 2
==================================================
ID: 33211757 매장 이름: 비올즈플라워카페 매장 점수: 13
==================================================
ID: 37604005 매장 이름: 반지더하기 건대점 매장 점수: 9
==================================================
ID: 89312272 매장 이름: 미스터힐링 교대역점 매장 점수: 3
==================================================
ID: 1213033169 매장 이름: 미스터힐링 숙대입구역점 매장 점수: 3
==================================================
ID: 1243411743 매장 이름: 미스터힐링 마곡발산역점 매장 점수: 13
==================================================
ID: 1968791696 매장 이름: 미스터리룸 이스케이프 홍대2호점 매장 점수: 14
==================================================
ID: 1163514727 매장 이름: 리얼샷 매장 점수: 3
==================================================
ID: 35272134 매장 이름: 홍대반지카페 매장 점수: 23
==================================================
ID: 1167577690 매장 이름: 템플스트라이크 매장 점수: 21
==================================================
ID: 398449188 매장 이름: 두젠틀장승배기역점 매장 점수: 15
==================================================
ID: 38411640 매장 이름: 더메이즈 건대점 매장 점수: 16
==================================================
ID: 37072755 매장 이름: 루나밍 매장 점수: 16
==================================================
ID: 1094171058 매장 이름: 리얼샷사격양궁장 홍대점 매장 점수: 14
==================================================
ID: 1504066713 매장 이름: 리얼샷 사격양궁장실내카페 매장 점수: 6
==================================================
ID: 1332113282 매장 이름: 명보드게임 매장 점수: 6
==================================================
ID: 1052039271 매장 이름: 젬하우스 매장 점수: 8
==================================================
ID: 1920602049 매장 이름: 마스터키즈쿠킹 매장 점수: 21
==================================================
ID: 37430272 매장 이름: 리틀파파포 연남점 매장 점수: 28
==================================================
ID: 13587483 매장 이름: 십원집 매장 점수: 14
==================================================
ID: 1096313766 매장 이름: 마루아트홀 매장 점수: 14
==================================================
ID: 38711752 매장 이름: 고양이정원 매장 점수: 19
==================================================
ID: 1808473263 매장 이름: 클럽K서울 선릉찜질방사우나 매장 점수: 18
==================================================
ID: 36399217 매장 이름: 반지대학 명동캠퍼스 매장 점수: 11
==================================================
ID: 36342218 매장 이름: 문숙이미나리식당 매장 점수: 27
==================================================
ID: 1556219900 매장 이름: 레이저아레나 홍대점 매장 점수: 13
==================================================
ID: 61864949 매장 이름: 벌툰 인더스트리얼 홍대본점 매장 점수: 16
==================================================
ID: 784977997 매장 이름: 제이네 매장 점수: 17
==================================================
ID: 1238946598 매장 이름: 넵타임커피 매장 점수: 10
==================================================
ID: 11662870 매장 이름: N서울타워 매장 점수: 15
==================================================
ID: 1667048504 매장 이름: 쁘띠문래 매장 점수: 10
==================================================
ID: 1333132690 매장 이름: 보드게임카페 갬성 매장 점수: 5
==================================================
ID: 1916353899 매장 이름: 보드게임카페 레드버튼 신림점 매장 점수: 18
==================================================
ID: 1211005409 매장 이름: 후암거실 매장 점수: 2
==================================================
ID: 19889939 매장 이름: 엔버거 매장 점수: 8
==================================================
ID: 38019562 매장 이름: World Board 월드보드게임카페 매장 점수: 3
==================================================
ID: 37561940 매장 이름: 비밀의화원 미드나잇 합정점 매장 점수: 13
==================================================
ID: 1592474841 매장 이름: 씨더라이트 매장 점수: 14
==================================================
ID: 1358327542 매장 이름: 강북롤러스케이트 매장 점수: 13
==================================================
ID: 33352087 매장 이름: 본초쌍화 매장 점수: 15
==================================================
ID: 1074002248 매장 이름: 구구당 매장 점수: 25
==================================================
ID: 1178829266 매장 이름: 쏭타이치앙마이 신용산본점 매장 점수: 27
==================================================
ID: 1017625819 매장 이름: 허씨 정통중경마라샹궈 3호점 매장 점수: 6
==================================================
ID: 1305290629 매장 이름: 빠레뜨한남 강남CGV점 매장 점수: 26
==================================================
ID: 1673647076 매장 이름: 영메이슨 도예 스튜디오 매장 점수: 13
==================================================
ID: 1431397449 매장 이름: 보드게임카페 레드버튼 강남점 매장 점수: 14
==================================================
ID: 1254251005 매장 이름: 쥬라리움 금천점 매장 점수: 10
==================================================
ID: 36684238 매장 이름: 아인스카페 매장 점수: 2
==================================================
ID: 13544486 매장 이름: 홍제천 매장 점수: 2
==================================================
ID: 18347678 매장 이름: 소고산제일루 매장 점수: 15
==================================================
ID: 1103840845 매장 이름: 369마실 매장 점수: 8
==================================================
ID: 1549906961 매장 이름: 얼로우스튜디오 매장 점수: 8
==================================================
ID: 1604498621 매장 이름: 재팔이네닭발 대학로점 매장 점수: 9
==================================================
ID: 1594490608 매장 이름: Academy JHK 매장 점수: 8
==================================================
ID: 1396702463 매장 이름: 탭퍼블릭 여의도점 매장 점수: 15
==================================================
ID: 1776854424 매장 이름: 리얼샷 실전사격양궁장 매장 점수: 6
==================================================
ID: 1150273610 매장 이름: 리얼샷 플러스 매장 점수: 6
==================================================
ID: 1296669198 매장 이름: 버드플라잉&뉴런렙시티 매장 점수: 16
==================================================
ID: 1047950933 매장 이름: 글루호텔 매장 점수: 15
==================================================
ID: 1879815027 매장 이름: 포미가 매장 점수: 11
==================================================
ID: 1124250158 매장 이름: 피자시즌 매장 점수: 14
==================================================
ID: 1577258316 매장 이름: VOD SUITE 매장 점수: 10
==================================================
ID: 1024507268 매장 이름: 카페올리 매장 점수: 16
==================================================
ID: 1805562801 매장 이름: 감탄성신 매장 점수: 19
==================================================
ID: 1685805793 매장 이름: 미쁘동 매장 점수: 29
==================================================
ID: 1653433739 매장 이름: 상무초밥 강남역점 매장 점수: 18
==================================================
ID: 1618302104 매장 이름: 온센 광화문점 매장 점수: 15
==================================================
ID: 1180099795 매장 이름: 플라비 홍대점 매장 점수: 11
==================================================
ID: 1075513586 매장 이름: 세모담 매장 점수: 13
==================================================
ID: 1075958805 매장 이름: 윤정문안마원 매장 점수: 8
==================================================
ID: 1998117726 매장 이름: 솔이미지 매장 점수: 13
==================================================
ID: 1773180579 매장 이름: 펠리칸카페 매장 점수: 23
==================================================
ID: 1959742624 매장 이름: 정숙성 매장 점수: 19
==================================================
ID: 392753804 매장 이름: 피자컴퍼니 이태원 매장 점수: 21
==================================================
ID: 1873955788 매장 이름: 스시노칸도 홍대점 매장 점수: 21
==================================================
ID: 36073217 매장 이름: Projec D 매장 점수: 26
==================================================
ID: 1179745015 매장 이름: 반지야놀자 종로본점 매장 점수: 11
==================================================
ID: 35734815 매장 이름: 꼭그닭 강남점 매장 점수: 24
==================================================
ID: 1634776604 매장 이름: 컬러브루니 매장 점수: 5
==================================================
ID: 1271253225 매장 이름: 랩타임 매장 점수: 8
==================================================
ID: 1569307801 매장 이름: 아트쉬프트 매장 점수: 13
==================================================
ID: 1619683915 매장 이름: 샐그릭 매장 점수: 11
==================================================
ID: 1279478929 매장 이름: 봄날의서재 감성 스터디카페 연신내역점 매장 점수: 8
==================================================
ID: 1312851479 매장 이름: 칙바이칙 강남역점 매장 점수: 28
==================================================
ID: 1857259161 매장 이름: HIDE AND SEEK 홍대점 매장 점수: 14
==================================================
ID: 1305548369 매장 이름: 레푸스 미아점 매장 점수: 13
==================================================
ID: 36703963 매장 이름: 본가스시 현대백화점천호점 매장 점수: 6
==================================================
ID: 36705768 매장 이름: 본가스시 현대백화점신촌점 매장 점수: 6
==================================================
ID: 1776947568 매장 이름: 다락방 OTT 매장 점수: 8
==================================================
ID: 1928437084 매장 이름: 8번가 매장 점수: 13
==================================================
ID: 20118913 매장 이름: 코리아스파 명동본점 매장 점수: 6
==================================================
ID: 1150141479 매장 이름: 타임캡슐성수 매장 점수: 10
==================================================
ID: 1768301141 매장 이름: 셀리앙 매장 점수: 10
==================================================
ID: 11678189 매장 이름: 메가박스 강남 매장 점수: 28
==================================================
ID: 12957764 매장 이름: 메가박스 동대문 매장 점수: 25
==================================================
ID: 13204674 매장 이름: 메가박스 상봉점 매장 점수: 25
==================================================
ID: 1553265275 매장 이름: 메가박스 성수점 매장 점수: 26
==================================================
ID: 12122663 매장 이름: 메가박스 이수점 매장 점수: 25
==================================================
ID: 1954071782 매장 이름: 메가박스 홍대 매장 점수: 24
==================================================
ID: 12162121 매장 이름: 메가박스 신촌 매장 점수: 28
==================================================
ID: 12283016 매장 이름: 메가박스 목동지점 매장 점수: 24
==================================================
ID: 1625804322 매장 이름: 메가박스 마곡 매장 점수: 21
==================================================
ID: 36667452 매장 이름: 메가박스 화곡 매장 점수: 21
==================================================
ID: 12307868 매장 이름: 메가박스 코엑스 매장 점수: 25
==================================================
ID: 1149373194 매장 이름: 아이존팝 노원점 매장 점수: 3
==================================================
ID: 1556086919 매장 이름: 그라동빵집 매장 점수: 12
==================================================
ID: 1506505883 매장 이름: 도베르 매장 점수: 6
==================================================
ID: 1229572297 매장 이름: 더홀릭보드게임카페 수유역점 매장 점수: 10
==================================================
ID: 1740824640 매장 이름: 살팀보카 매장 점수: 8
==================================================
ID: 1173195149 매장 이름: 돈카와치 성신여대역점 매장 점수: 21
==================================================
ID: 1373989551 매장 이름: 세광양대창 논현점 매장 점수: 16
==================================================
ID: 1906738323 매장 이름: 교대이층집 시청점 매장 점수: 19
==================================================
ID: 1273062221 매장 이름: 교대이층집 상암점 매장 점수: 18
==================================================
ID: 1352354165 매장 이름: 빠네돌체 매장 점수: 8
==================================================
ID: 1551717961 매장 이름: 공샤브 매장 점수: 11
==================================================
ID: 1191441242 매장 이름: 애월연어 연남점 매장 점수: 20
==================================================
ID: 1847386933 매장 이름: 가배랑솜 인사동 카페 매장 점수: 12
==================================================
ID: 1720118086 매장 이름: 티유치과의원 매장 점수: 26
==================================================
ID: 658897525 매장 이름: 마사 타코 매장 점수: 23
==================================================
ID: 12326432 매장 이름: 삼원갤러리 매장 점수: 19
==================================================
ID: 1152009975 매장 이름: 스밈 매장 점수: 10
==================================================
ID: 1456811957 매장 이름: 본타이 잠실새내역점 매장 점수: 3
==================================================
ID: 1288244187 매장 이름: 마리포사 스테인드글라스 매장 점수: 5
==================================================
ID: 1610247722 매장 이름: 라면편의점 매장 점수: 3
==================================================
ID: 1539414265 매장 이름: 퍼플독 송파본점 매장 점수: 18
==================================================
ID: 1598622072 매장 이름: 키퍼스마켓 매봉점 매장 점수: 8
==================================================
ID: 1261546000 매장 이름: 칙바이칙 학동역점 매장 점수: 16
==================================================
ID: 1453279077 매장 이름: 리체드로잉 매장 점수: 10
==================================================
ID: 1912970965 매장 이름: 자유아로마 매장 점수: 8
==================================================
ID: 1342404733 매장 이름: 시스올로지 홍대쇼룸 매장 점수: 16
==================================================
ID: 1331305271 매장 이름: 카쿠시타 매장 점수: 27
==================================================
ID: 1080492815 매장 이름: 화씨이육공 사당점 매장 점수: 16
==================================================
ID: 1461811104 매장 이름: 화이트글래스 매장 점수: 8
==================================================
ID: 1775587949 매장 이름: entry55 매장 점수: 19
==================================================
ID: 1541120515 매장 이름: 오오도리 ODORI 매장 점수: 11
==================================================
ID: 35085136 매장 이름: 박선생헤드스파 매장 점수: 6
==================================================
ID: 1179666839 매장 이름: 오스틴타코 낙성대본점 매장 점수: 6
==================================================
ID: 1111096673 매장 이름: 카페2.7 매장 점수: 20
==================================================
ID: 1451950518 매장 이름: LE CAFE 매장 점수: 11
==================================================
ID: 1256527692 매장 이름: 오술차 건대점 매장 점수: 14
==================================================
ID: 594661160 매장 이름: 제일제면소 N서울타워점 매장 점수: 8
==================================================
ID: 1465309007 매장 이름: 청담나인 매장 점수: 18
==================================================
ID: 1349415035 매장 이름: 피토테일 매장 점수: 12
==================================================
ID: 1476560900 매장 이름: 언플러그드 신촌 매장 점수: 8
==================================================
ID: 1272971962 매장 이름: 호랑이흥취 매장 점수: 6
==================================================
ID: 37565336 매장 이름: 메타비 매장 점수: 5
==================================================
ID: 1726937934 매장 이름: 오츠마미 매장 점수: 4
==================================================
ID: 1039246163 매장 이름: 게임파티룸 생텀 강남점 매장 점수: 3
==================================================
ID: 1026385097 매장 이름: 풍자네부엌 매장 점수: 10
==================================================
ID: 1963416786 매장 이름: 아리한복 매장 점수: 11
==================================================
ID: 1444299382 매장 이름: 성수로운 매장 점수: 24
==================================================
ID: 1246915366 매장 이름: 미나리삼겹살 본점 매장 점수: 3
==================================================
ID: 1324169976 매장 이름: LSD SEOUL 매장 점수: 11
==================================================
ID: 1973645577 매장 이름: 디그이지 매장 점수: 8
==================================================
ID: 1416420416 매장 이름: 고우성수 매장 점수: 16
==================================================
ID: 1388682402 매장 이름: 사유의서재 남산 매장 점수: 26
==================================================
ID: 1433247702 매장 이름: 한라맥주 서울연신내점 매장 점수: 3
==================================================
ID: 1871323055 매장 이름: 어텐디 한남 매장 점수: 12
==================================================
ID: 1081109811 매장 이름: 월에버 매장 점수: 2
==================================================
ID: 1403632278 매장 이름: PITC 매장 점수: 14
==================================================
ID: 840353517 매장 이름: 후암주방 매장 점수: 13
==================================================
ID: 1966370442 매장 이름: 팔각도 연신내역점 매장 점수: 23
==================================================
ID: 1647273904 매장 이름: 털보네쪽갈비 매장 점수: 3
==================================================
ID: 38426292 매장 이름: 디오리엔탈스파 매장 점수: 17
==================================================
ID: 1426345252 매장 이름: 비노비누 매장 점수: 10
==================================================
ID: 1250733217 매장 이름: 복자상회포차 매장 점수: 2
==================================================
ID: 13204930 매장 이름: 벨라테라피 매장 점수: 19
==================================================
ID: 1432207395 매장 이름: 홍대향수공방 뤼미에르퍼퓸 홍대 매장 점수: 9
==================================================
ID: 1776094666 매장 이름: 홍대향수공방 뤼미에르퍼퓸 연남 매장 점수: 19
==================================================
ID: 1048346906 매장 이름: 성수향수공방 뤼미에르퍼퓸 성수 매장 점수: 14
==================================================
ID: 1140751599 매장 이름: K SPOT 수국전망대 카페 매장 점수: 9
==================================================
ID: 1001892852 매장 이름: 은행골 여의도점 매장 점수: 9
==================================================
ID: 1320893582 매장 이름: 한술식당 신촌점 매장 점수: 14
==================================================
ID: 1242070068 매장 이름: 백식당 매장 점수: 16
==================================================
ID: 1637809662 매장 이름: 23플래터 매장 점수: 17
==================================================
ID: 39199184 매장 이름: V Studio 음악연습실 매장 점수: 13
==================================================
ID: 1268383294 매장 이름: 올리다 둔촌역점 매장 점수: 5
==================================================
ID: 1683267156 매장 이름: 밀파니 매장 점수: 13
==================================================
ID: 1485534307 매장 이름: 에드엣 가로수길 매장 점수: 15
==================================================
ID: 1010633726 매장 이름: 오르페우스 매장 점수: 6
==================================================
ID: 1878060311 매장 이름: 조르노에노떼 매장 점수: 10
==================================================
ID: 1626485111 매장 이름: 온더써드 매장 점수: 10
==================================================
ID: 1147284926 매장 이름: 라콤 매장 점수: 5
==================================================
ID: 1533316291 매장 이름: 쏘플파티룸 자갈자갈 매장 점수: 11
==================================================
ID: 1213537628 매장 이름: 더그릭베어 홍대상수점 매장 점수: 9
==================================================
ID: 1116733594 매장 이름: 광화문특고기 정동집 매장 점수: 11
==================================================
ID: 1124871955 매장 이름: 스시도손 매장 점수: 11
==================================================
ID: 1873388687 매장 이름: 타겟 매장 점수: 13
==================================================
ID: 1386559115 매장 이름: 두텁 매장 점수: 2
==================================================
ID: 1297964223 매장 이름: 올디너리모먼트 매장 점수: 8
==================================================
ID: 1247771184 매장 이름: 칸틴 성현점 매장 점수: 5
==================================================
ID: 1950627213 매장 이름: 데보 매장 점수: 6
==================================================
ID: 1834944913 매장 이름: 소프트컬러 매장 점수: 5
==================================================
ID: 1045459528 매장 이름: 제일곱창 방이직영점 매장 점수: 10
==================================================
ID: 38591668 매장 이름: 스시쟁이 매장 점수: 21
==================================================
ID: 1445613402 매장 이름: 리옴레더 매장 점수: 7
==================================================
ID: 1400338596 매장 이름: 꼬치의품격 천호로데오점 매장 점수: 5
==================================================
ID: 1059781158 매장 이름: 신사890 매장 점수: 22
==================================================
ID: 1831068477 매장 이름: 오로라 타로&사주 잠실 1호점 매장 점수: 16
==================================================
ID: 1918024294 매장 이름: 아티산와규 남가좌가재울점 매장 점수: 8
==================================================
ID: 1651524434 매장 이름: 러브허니 매장 점수: 8
==================================================
ID: 1545869125 매장 이름: 쿠치나디까사 문정점 매장 점수: 11

In [17]:
store_scores.sort_values(by="Score", ascending=False, ignore_index=True).head(30)

      Naver ID           Name Score
0   1685805793            미쁘동    29
1     37430272      리틀파파포 연남점    28
2     11678189        메가박스 강남    28
3   1312851479      칙바이칙 강남역점    28
4     12162121        메가박스 신촌    28
5   1331305271           카쿠시타    27
6     36342218       문숙이미나리식당    27
7   1178829266  쏭타이치앙마이 신용산본점    27
8   1305290629   빠레뜨한남 강남CGV점    26
9     33874345      루소주얼리 홍대점    26
10  1388682402       사유의서재 남산    26
11    36073217       Projec D    26
12  1720118086         티유치과의원    26
13  1176845784      카페 공명 연남점    26
14  1553265275       메가박스 성수점    26
15    13204674       메가박스 상봉점    25
16    12307868       메가박스 코엑스    25
17  1074002248            구구당    25
18    12957764       메가박스 동대문    25
19    12122663       메가박스 이수점    25
20  1954071782        메가박스 홍대    24
21    35734815        꼭그닭 강남점    24
22    12283016      메가박스 목동지점    24
23  1444299382           성수로운    24
24  1966370442      팔각도 연신내역점    23
25   658897525          마사 타코    23
26    35272134         홍대반지카페    23
27  1773180579          펠리칸카페    23
28  1059781158          신사890    22
29  1173195149    돈카와치 성신여대역점    21

# 음식 or 놀거리로 데이터 분리

In [11]:
import pandas as pd

In [33]:
food = ["이탈리아음식", "한식", "피자", "양식", "베트남음식", "돈가스", "멕시코,남미음식", "햄버거", "육류,고기요리", "소고기구이", "일식당", "돼지고기구이", "브런치", "일본식라면", "아이스크림",
        "초밥,롤", "과일", "마사지, 지압", "아시아음식", "태국음식", "중식당", "백반,가정식", "퓨전음식", "닭발", "양꼬치", "닭갈비", "곱창,막창,양", "다이어트,샐러드", "국수", "라면", "일식튀김,꼬치", "종합분식"]

alcohol = ["술집", "이자카야", "바(BAR)", "맥주,호프", "주류", "요리주점", "와인", "포장마차"]

cafe = ["카페", "카페,디저트", "와플", "도넛", "베이커리"]

playing = ["공방", "방탈출카페", "힐링카페", "사격장", "테마카페", "테마파크", "아쿠아리움",  "당구장", "주류제조", "꽃집,꽃배달", "볼링장", "애견카페", "사진,스튜디오",
           "고양이카페", "오락실", "낚시터", "스포츠,오락", "셀프,대여스튜디오", "찜질방", "서바이벌게임", "만화방", "갤러리,화랑", "유리공예", "공연,연극시설", "운세,사주", "한복대여", "경영컨설팅"]

place_lend = ["장소대여", "임대,대여"]

care = ["힐링카페", "발관리", "치과", "미용"]

movie = ["영화관", "DVD방"]

else_list = ["광고,마케팅", "화장품,향수", "피부,체형관리", "속옷", "공연장"]

In [64]:
df = pd.read_csv('data/datepop/shop_seoul_crawled.csv', header=0, encoding='cp949')

df.drop('Unnamed: 0', axis=1, inplace=True)
print(len(df))

268

In [66]:
# food 또는 alcohol 리스트에 해당하는 category를 가진 행들을 필터링
food_df = df[df['category'].isin(food + alcohol + cafe)].reset_index(drop=True)

# # food 또는 alcohol 리스트에 해당하지 않는 category를 가진 행들을 필터링
plyaing_df = df[df['category'].isin(playing + place_lend + care + movie + else_list)].reset_index(drop=True)

In [67]:
food_df.to_csv('data/datepop/shop_food.csv', encoding='utf-8-sig')
plyaing_df.to_csv('data/datepop/shop_playing.csv', encoding='utf-8-sig')

In [68]:
len(food_df) + len(plyaing_df)

245

In [69]:
food_df.head(10)

,store_id,name,category,is_food,new_store,instagram_link,instagram_post,instagram_follower,hot_spot,visitor_review_count,...,no_kids,pet_available,seoul_michelin,age-2030,gender-balance,on_blue_ribbon,image_urls,address,phone,gps
0,36339304,비스트로누,이탈리아음식,True,False,NaN,NaN,NaN,False,2422.0,...,False,False,False,False,True,False,[],서울 서초구 사평대로26길 26-6 3층,0507-1438-5123,"{'latitude': 37.4990691, 'longitude': 126.998772}"
1,37430272,리틀파파포 연남점,베트남음식,True,False,http://instagram.com/littlepapa_pho,121.0,967.0,True,1103.0,...,False,True,False,True,True,False,[],서울 마포구 동교로38안길 5 1층,0507-1423-5678,"{'latitude': 37.5621164, 'longitude': 126.9246..."
2,13587483,십원집,돼지고기구이,True,False,NaN,NaN,NaN,False,608.0,...,False,False,False,False,False,True,[],서울 중구 서소문로 134-6,0507-1491-9222,"{'latitude': 37.5634545, 'longitude': 126.975885}"
3,36342218,문숙이미나리식당,"백반,가정식",True,False,NaN,NaN,NaN,True,813.0,...,False,False,False,True,True,True,[],서울 마포구 잔다리로6길 34-5 1층,02-322-2827,"{'latitude': 37.552072, 'longitude': 126.9211336}"
4,784977997,제이네,양식,True,False,https://www.instagram.com/jeine.dining,14.0,2314.0,True,571.0,...,False,False,False,NaN,NaN,True,[],서울 종로구 율곡로1길 74-13,0507-1402-7899,"{'latitude': 37.5787616, 'longitude': 126.9818..."
5,1238946598,넵타임커피,"카페,디저트",True,False,http://www.instagram.com/naptime_coffee,166.0,644.0,False,291.0,...,False,True,False,NaN,NaN,False,[],서울 강남구 논현로132길 33 1층 넵타임커피,02-540-7187,"{'latitude': 37.51562496679411, 'longitude': 1..."
6,1667048504,쁘띠문래,양식,True,False,NaN,NaN,NaN,False,288.0,...,False,False,False,NaN,NaN,True,[],서울 영등포구 선유로17길 24 신일아르디세 1층 쁘띠문래,0507-1461-0367,"{'latitude': 37.5210994, 'longitude': 126.8872..."
7,19889939,엔버거,햄버거,True,False,NaN,NaN,NaN,False,2651.0,...,False,False,False,NaN,NaN,False,[],서울 용산구 남산공원길 105 YTN서울타워,02-3455-9222,"{'latitude': 37.5514167, 'longitude': 126.9881..."
8,1074002248,구구당,퓨전음식,True,False,https://www.instagram.com/gugudang.seoul,59.0,3058.0,False,4083.0,...,False,False,False,NaN,NaN,False,[],서울 강남구 강남대로102길 35 구구당,0507-1362-1979,"{'latitude': 37.5032847, 'longitude': 127.0278..."
9,1178829266,쏭타이치앙마이 신용산본점,태국음식,True,False,http://www.instagram.com/ssongthai_chiangmai,325.0,1726.0,False,2523.0,...,False,True,False,NaN,NaN,False,[],서울 용산구 한강대로40길 39-5 1층 쏭타이치앙마이,0507-1334-5170,"{'latitude': 37.530365, 'longitude': 126.971602}"